[Unit]
Description=SNMP Daemon (Dataplane Namespace)
Documentation=man:snmpd(8)
After=network.target netns-dataplane.service
Requires=netns-dataplane.service

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /var/run/agentx
ExecStart=/usr/sbin/ip netns exec dataplane /usr/sbin/snmpd -f -Lo -C -c /etc/snmp/snmpd-dataplane.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

