# FloofOS - Fast Line-rate Offload On Fabric Operating System
# Copyright (C) 2025 FloofOS Networks <dev@floofos.io>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License.

[Unit]
Description=SSH Server (Dataplane Namespace)
After=network.target netns-dataplane.service
Requires=netns-dataplane.service

[Service]
ExecStart=/usr/sbin/ip netns exec dataplane /usr/sbin/sshd -D
Type=simple
KillMode=process
Restart=on-failure
RestartSec=5s
StartLimitIntervalSec=60s
StartLimitBurst=3
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
