# FloofOS - Fast Line-rate Offload On Fabric Operating System
# Copyright (C) 2025 FloofOS Networks <dev@floofos.io>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License.

[Unit]
Description=VPP SNMP AgentX Bridge (govpp-snmp-agentx)
After=snmpd.service vpp.service
Requires=snmpd.service vpp.service

[Service]
Type=simple
ExecStart=/usr/local/bin/vpp-snmp-agent -agentx.addr /var/agentx/master -vppcfg /etc/vpp/dataplane.yaml -vppstats.period 30
Restart=always
RestartSec=5
User=root
Group=vpp

[Install]
WantedBy=multi-user.target
