# FloofOS - Fast Line-rate Offload On Fabric Operating System
# Copyright (C) 2025 FloofOS Networks <dev@floofos.io>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License.

[Unit]
Description=VPP Auto Configuration
Before=vpp.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vpp-auto-config.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target