# FloofOS - Fast Line-rate Offload On Fabric Operating System
# Copyright (C) 2025 FloofOS Networks <dev@floofos.io>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License.

[Unit]
Description=VPP SNMP AgentX Bridge (govpp-snmp-agentx)
Documentation=https://git.ipng.ch/ipng/govpp-snmp-agentx
After=snmpd-dataplane.service vpp.service netns-dataplane.service
Requires=snmpd-dataplane.service vpp.service

[Service]
Type=simple
ExecStart=/usr/sbin/ip netns exec dataplane /usr/local/bin/vpp-snmp-agent -agentx.addr /var/run/agentx/master -vppcfg /etc/vpp/dataplane.yaml -vppstats.period 30
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
